{% macro active(menuLink='home') %}
<nav class="navbar navbar-inverse navbar-static-top">
  <a class="navbar-brand" href="/">k</a>
  <ul class="nav nav-pills">
    <li class="nav-item {%if menuLink == 'home' %}active{% endif %}">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item {%if menuLink == 'research' %}active{% endif %}">
      <a class="nav-link" href="/research/">Research</a>
    </li>
    <li class="nav-item {%if menuLink == 'research' %}active{% endif %}">
      <a class="nav-link" href="/design/">Design</a>
    </li>
    <li class="nav-item {%if menuLink == 'engineering' %}active{% endif %}">
      <a class="nav-link" href="/design/">Engineering</a>
    </li>
  </ul>
</nav>
{% endmacro %}
