<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ pageTitle }}</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/vendor/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

  <!-- Importing Nunjucks Macro -->
  {% import 'layouts/macros/navigation.html' as nav %}
  {{ nav.active(menuLink) }}

  {% block content %} {% endblock %}

  <script src="js/main.js"></script>
</body>
</html>
